<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Run Crafter - Find Your Run!</title>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <style>
      /* Style for the button */
      .button5 {
          display: inline-block;
          padding: 10px 20px;
          background-color: #3498db; /* Button background color */
          color: #fff; /* Text color */
          font-size: 14px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
      }

      /* Hover effect */
      .button5:hover {
          background-color: #2980b9; /* Darker background color on hover */
      }
  </style>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <h1>Map time!</h1>
    <form method="post" id="criteriaForm">
      <label for="slider">Select a Distance:</label>
      <input
        type="range"
        id="distanceSlider"
        name="distanceSlider"
        min="0"
        max="30"
        step="1"
        value="5"
      />
      <p>Distance Value: <span id="distanceValue">5</span></p>
      <label for="slider">Select an Elevation:</label>
      <input
        type="range"
        id="elevationSlider"
        name="elevationSlider"
        min="0"
        max="2000"
        step="50"
        value="100"
      />
      <p>Elevation Value: <span id="elevationValue">100</span></p>
      <button class="button5" id="findRuns" formmethod="findRuns(event)" type="submit">Find Me Runs!</button>
    </form>
    <script>
      const distanceSlider = document.getElementById("distanceSlider");
      const distanceValue = document.getElementById("distanceValue");
      const elevationSlider = document.getElementById("elevationSlider");
      const elevationValue = document.getElementById("elevationValue");

      distanceSlider.addEventListener("input", () => {
        distanceValue.textContent = distanceSlider.value;
      });

      elevationSlider.addEventListener("input", () => {
        elevationValue.textContent = elevationSlider.value;
      });
    </script>
    <div id="map" width="100%" style="height: 400px"></div>
    <script>
      mapboxgl.accessToken = "{{MAPBOX_KEY}}";
      const coords = "{{coords}}";
      const map = new mapboxgl.Map({
        container: "map",
        center: [-89.4, 43.07],
        zoom: 15,
        style: "mapbox://styles/mapbox/streets-v11",
      });
      map.on("load", () => {
        map.addSource("route", {
          type: "geojson",
          data: {
            type: "Feature",
            properties: {},
            geometry: {
              type: "LineString",
              coordinates: JSON.parse("{{ coords }}"),
            },
          },
        });
        map.addLayer({
          id: "route",
          type: "line",
          source: "route",
          layout: {
            "line-join": "round",
            "line-cap": "round",
          },
          paint: {
            "line-color": "#FF8C00",
            "line-width": 6,
          },
        });
      });
    </script>
    <script>
      function findRuns(event) {
            event.preventDefault();
            const criteriaForm = $("#criteriaForm").serialize();
            console.log(criteriaForm);
      }
        /*document
          .getElementById("findRuns")
          .addEventListener("click", function () {
            const criteriaForm = $("#criteriaForm").serialize();
            console.log(criteriaForm);
            // $.ajax({
            //   url: "/craft_runs/",
            //   type: "POST",
            //   data: criteriaForm,
            //   success: function (data) {
            //     console.log(data);
            //   },
            // });
          }); */
    </script>
  </body>
</html>
